
.filterSetting {
    grid-column: 1 / -1; /* Span all columns */
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left:auto;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .tabs {
    width:170px;
    margin-right:20px;
    padding: 10px

  }

  .hideFilterTab {
    margin-left: 1.5rem;
    /* width:170px; */
    color:#cac1c1;
    padding:10px
  }
  .hideFilterTabPara {
    border-bottom: 1px solid #E5E5E5;
  }
  .dropdown:hover .dropdownContent {
    display: block;
  }

  .filterTab {
    display: none;
    width:170px;
    margin-right:20px;
    padding: 10px
  }

  @media screen and (max-width: 768px) {
    .hideFilterTab {
      display: none;
    }
    .filterTab {
      display: block;
    }
    .tab {
      display: none;
    }
  }

