.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-auto-rows: auto; /* Rows adjust height based on content */
    gap: 10px; /* Space between grid items */
    padding: 10px;
  }

  .gridContainerHideFilter {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
    grid-auto-rows: auto; /* Rows adjust height based on content */
    gap: 10px; /* Space between grid items */
    padding: 10px;
  }
  /* Grid items */
  .gridItem {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }

  .title {
    margin: 10px 0px;
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    }
  }

